jarvis.txt
/.vscode
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
node_modules/
dist/
build/
coverage/
.env
.env.local
.env.development
.env.test
.env.production
.idea/
*.iml
*.sln
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.vspscc
*.vssscc
*.pt
*.onnxdeepstream-2cam/deepstream_sdk_v6.0.1_jetson.tbz2
